snippet bye "My mail signature"
Good bye, Sir. Hope to talk to you soon.
- Arthur, King of Britain
endsnippet

snippet t
<tag>${VISUAL:inside text/should/is/g}</tag>
endsnippet

snippet t2
<tag>${VISUAL}</tag>
endsnippet

snippet xtoday
今天是`dir`
endsnippet

snippet xtoday2
今天是2222`!v indent(".")`
endsnippet

snippet byebye
<tag>${VISUAL:inside text/should/is/g}</tag>
endsnippet

