snippet frag "add a fragment" b
<div class="fragment$1">
${VISUAL} 
</div>
endsnippet

snippet sec "add a section" b
<section>
${VISUAL}
</section>
endsnippet

snippet absolute "Description" w 
position: absolute; right: ${1}%;top:${2};${0}
endsnippet
