snippet ifname
if __name__ == '__main__':
	
endsnippet


snippet clas
	class ${1:class_name}:
		"""${2:description}"""
		${0:${VISUAL}}
endsnippet

snippet flask "Description" b
from flask import Flask,render_template,redirect,url_for,g,session,jsonify,request
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

@app.route('/')
    return render_template('index.html')
endsnippet
